.circulo{
    width: 80px;
    height: 80px;
}
.bg-mint{background-color: rgb(114, 220, 156);}
.bg-dark-mint{background-color: rgb(59, 190, 76);}
.bg-tomato{background-color: rgb(232, 85, 85);}
.bg-blue{background-color: rgb(73, 164, 255);}
.fs-0{font-size: 100px;}